{% extends 'nav.html' %}

{% block content %}

<script>
    let correcrAnswer = {{correcrAnswer|tojson}}
    let UserAnswer = {{UserAnswer|tojson}}

    $(document).ready(function(){
        $('h4').hide();
        $('h3').hide();
        if(correcrAnswer == UserAnswer){
            $('#correct').show();
        }
        else{
            $('#wrong').show();
        }

        $('#{{data.id}}').click(function(){
            /* redirect to the next quiz page */
            let id = $(this).attr('id');
            id = parseInt(id)+1;
            console.log(id);
            window.location.assign("/quiz/"+id+"");
        })

        $('#hint').click(function(){
            $("h4").slideToggle();
        })

    })
</script>

<div class = 'row'>
    <div class = 'col-md-12'>
        <h2>
            Question {{data.id}}
        </h2>
    </div>
</div>

<div class = 'row'>
    <div class = 'col-md-12'>
        <h3>
            {{data.question}}
        </h3>
    </div>
</div>

<div class = 'row'>
    <div class = 'col-md-4'>
        <!---<iframe src={{data.video}} title="Question{{data.id}}'s media" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        <div id="myvideo"></div>
        <!--
        <div class="wrapper">
            <div class="frame-container">
               <iframe src="https://www.youtube.com/embed/01NsieAjzdU?start=118&end=158" frameborder="0"></iframe>
            </div>
        </div>
        -->
    </div>
    <div class = 'col-md-4'>
        <form action="" method="POST">
            {% for each in data.choice %}
            <input type='radio' name = 'radAnswer' value="{{each}}"> 
            <span>{{each}}</span>
            <br>
            {% endfor %}
        </form> 
    </div>
    <div class = 'col-md-4'>
        <div class = 'row'>
            <div class = 'col-md-12'>
                <button type="button" id="hint">Hint</button>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-md-12'>
                <h4>{{data.hint}}</h4>
            </div>
        </div>
    </div>
</div>

<div class = 'row'>
    <div class = 'col-md-12'>
        <h3 id = 'correct'>
            CORRECT!
        </h3>
        <h3 id = 'wrong'>
            WRONG!  
        </h3>
        <div>
            Your Answer is {{UserAnswer}}
        </div>
        <div>
            Correct Answer is {{correcrAnswer}}
        </div>
        <div>
            Your Current Score is {{score}}/10
        </div>

    </div>
</div>

<div class = 'row'>
    <div class = 'col-md-12'>
        <button type="button" class="btn btn-success" id = "{{data.id}}">NEXT</button>
    </div>
</div>

<div class = 'row'>
    <div class = 'col-md-12'>
        <br>
        <br>
        <br>
    </div>
</div>

<script async src="https://www.youtube.com/iframe_api"></script>
<script>
    let data = {{data|tojson}}
    var player;
    var videoId= data['video'];
    console.log(videoId);
    var startSeconds = data['start'];  // set your own video start time when loop play
    var endSeconds = data['stop'];   // set your own video end time when loop play
    var playerConfig = {
        //height: '250',
        width: '100%',
        videoId: videoId,
        playerVars: {
            autoplay: 0,            // not Auto-play the video on load
            controls: 0,            // hide pause/play buttons in player
            showinfo: 0,            // Hide the video title
            modestbranding: 1,      // Hide the Youtube Logo
            fs: 1,                  // Hide the full screen button
            cc_load_policy: 0,      // Hide closed captions
            iv_load_policy: 3,      // Hide the Video Annotations
            start: startSeconds,
            end: endSeconds,
            autohide: 1,             // Hide video controls when playing
        },
        events: {
            'onStateChange': onStateChange,       // reference to Iframe API
            'onReady': onPlayerReady
        }
    };

    //excute the video in div
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('myvideo', playerConfig);
    }

    function onPlayerReady(event) {              // mute or unmute the video when loaded
        if (data["mute"] == "no"){
            event.target.playVideo(); 
        }
        else{
            event.target.mute();
        }
                    
    }

    //repload the video when onStateChange=YT.PlayerState.ENDED)
    function onStateChange(state) {
        if (state.data === YT.PlayerState.ENDED) {
            player.loadVideoById({
                videoId: videoId,
                startSeconds: startSeconds,
                endSeconds: endSeconds
            });
        }
    }

</script>
    


<!-- 
<style>
    .wrapper {
        overflow: hidden;
        max-width: 100%;
    }
    .frame-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */  
        padding-top: 25px;
        width: 300%; /* enlarge beyond browser width */
        left: -100%; /* center */
    }

    .frame-container iframe {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
    }
</style>
-->


{% endblock %}