body{
    /* background: linear-gradient(to top, #0000ff 0%, #6699ff 79%); */
    background-color: #1564dadf;
}

.card-body{
    padding-top:40px;
    padding-left:40px;
    padding-bottom:40px;
}
.card-header{
    padding-left:40px;
    background-color: rgb(225, 223, 223); /*lightgray*/
}

img{
    width: 90%;
}

h1{
    color:white;
    font-weight: bold;
    margin-bottom: 20px;
}

.choice{
    font-size:20px;
    padding-left:10px;
    margin-bottom:20px;
}

.submit-button{
    margin-left:10px;
    margin-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    background-color: orangered;
    border-radius: 10px;
    border: orangered;
    color:white;
    width:100px;
}
.submit-button:hover{
    color:black;
}

.again{
    margin-left:10px;
    margin-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    background-color: darkgray;
    border-radius: 10px;
    border: dimgrey;
    color:black;
    width:100px;
}
.again:hover{
    color:white;
}

.feedback{
    list-style: none;
    border: 1px solid rgba(212, 207, 207, 0.465);
    background-color: rgba(212, 207, 207, 0.173);
    font-size: 20px;
    color: rgb(96, 96, 96);
    width: 40px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    padding-top:8px;
    padding-bottom:8px;
}
  
ul{
    display:flex;
    padding-top:20px;
    margin-left:190px;
}

#question{
    display:flex;
}

#hint{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    margin-left:-12px;
    background-color: darkgray; 
    border-radius: 10px;
    border: dimgrey;
    color:black;
    width:120px;
}
#hint:hover {
    background: rgb(116, 112, 112);/*drakgray-er*/
    color:white;
    border-radius:5px;
}

#hint:hover::before{
    display: block;
    background: rgb(225, 223, 223);/*lightgray*/
    color:rgb(116, 112, 112);/*drakgray*/
    font-size:15px;
    position: absolute;
    top: 100%;
    left: -7px;
    right: -7px;
    padding: 10px; 
}

#hint:hover::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: solid 8px transparent;
    border-bottom-color: rgb(225, 223, 223);/*lightgray*/
    bottom: -3px;
    left: 50%;
    margin-left: -35px;
    z-index: 1;
}
