{% extends 'nav.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
<script>
          $(document).ready(function(){
      var learning = {{learning | tojson}}
      var tracking = {{tracking | tojson}}

      var resume = tracking[tracking.length - 1]

      if(resume == undefined){
          console.log("undefined");
          $("#resume").addClass("disabled");
          $("#resume").prop('disabled', true);
      }
      else{
          $("#resume").removeClass("disabled");
          $("#resume").click(function(){
              window.location.assign(resume)
          })
      }
  });
</script>
<style>
  header{
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  color: white;
  background-image: url("{{url_for('static', filename='img/Ball.jpeg')}}");
  background-size: cover;
  padding-left: 30px;
  height: 200px;
  padding-top: 8px;
  margin-top: -20px;
  margin-bottom: 30px;
}
</style>
<div class="container-fluid">
  <header>Mr.Basketball</header>
</div>
<div class="container">
  <div class="row row1">
    <span id="welcome">
      Welcome to Mr.Basketball
    </span>
    <span class="home-intro">
      Here you can learn about all types of rules in
      basketball. 
      <br>
      <br>
      No matter if you are a player, a fan of basketball, or a
      basketball rookie, this site will make you a master of basketball rules.
      <br>
      <br>
      You can also test yourself and compete with others to see who is the real
      Mr/Ms.Basketball.
    </span>
  </div>
  <div class="row">
    <a id="button-1" href="/offensive">
      <button>Let's Get Started</button>
    </a>
  </div>
  <div class="row">
    <button id="resume">Resume</button>
  </div>
  <div class="row">
    <a id="button-3" href="/quiz_start">
      <button>Test Yourself</button>
    </a>
  </div>
</div>
{% endblock %}
