{% extends 'nav.html' %} {% block content %}

<script>
  $(document).ready(function() {
      let data = {{data|tojson}};
      let ftype =  '{{ftype|safe}}';
      let index = parseInt('{{index|safe}}');
      let location = window.location.href;
      let i = 0;
      if(data[index]['video'].length > 0) {
          let url = data[index]['video'][0]
          $('#myframe').attr("src", url);
      }

      $('#next').click(function() {
          /* redirect the webpage to quiz.html */
          index += 1;
          if(index >= data.length) {
              index = 0;
              if(ftype == "o"){
                  location = "/defensive"
                  window.location.assign(location);
              }
              else if(ftype == 'd'){
                  window.location.assign("/quiz_start");
              }
          }
          else {
              location = "/learning/"+ftype+"/"+index
              // window.location.assign("/learning/"+ftype+"/"+index);
              window.location.assign(location);
          }
      })
      $("#prev").click(function(){
          index -= 1
          if(index < 0) {
              index = 0;
              if(ftype == 'd'){
                  location = "/defensive"
                  window.location.assign(location);
              }
              else if(ftype == 'o'){
                  location = "/offensive"
                  window.location.assign(location);
              }
          }
          else{
              location = "/learning/"+ftype+"/"+index
              // window.location.assign("/learning/"+ftype+"/"+index);
              window.location.assign(location);
          }
      })
      $.ajax({
              type: "POST",
              url: "/track_learning",
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(location),
              success: function(res){
                  console.log('succeed')
              },
              error: function(request, status, error){
                  console.log("Error");
                  console.log(request)
                  console.log(status)
                  console.log(error)
              }
          });
  });
</script>

<style>
  .image {
    max-width: 20vw;
    max-height: auto;
  }
  #block {
    display: block;
    background-color: orangered;
    color: white;
    height: 40px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
    margin-bottom: 20px;
  }
  .row1 {
    margin-left: -33px;
  }
  .row {
    margin-bottom: 20px;
  }
  .row2 {
    margin-bottom: 20px;
  }
  p {
    font-size: large;
    color: white;
  }
  .btn-success {
    background-color: orangered;
    border: orangered;
    font-size: x-large;
  }
  h1{
    color: white;
  }
  h3{
    color: white;
  }
</style>

<div class="row row1">
  <div class="col-md-12">
    <h1>{{data[index].name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="row row2">
      <p>{{data[index].description}}</p>
    </div>
    {% for each in data[index].hint %}
    <div class="row row2">
      <div class="row">
        <div class="col-md-12">
          <h3>{{each[0]}}</h3>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <p>{{each[1]}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row row2">
      <iframe
        width="650"
        height="500"
        id="myframe"
        alt="{{data[index].vacc}}"
      ></iframe>
    </div>
  </div>
  <div class="col-md-4">
    <div class="justify-content-center">
      <div id="block">
        <div>What would Referee do?</div>
      </div>
      <img src="{{data[index].img}}" alt="{{data[index].acc}}" class="image" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <button type="button" class="btn btn-success" id="prev">Back</button>
  </div>
  <div class="col-md-8"></div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success" id="next">Next</button>
  </div>
</div>

{% endblock %}
