<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/quiz.js')}}"></script>
</head>

    <body>
        {% extends 'nav.html' %}

        {% block content %}

        <div id="dialog" title="Confirmation Required">
            Leaving the page will automatically zero out the score. Are you sure about this?
        </div>

        <div id="dialog-check" title="Confirmation Required">
            You need to select one answer to submit the quiz.
        </div>

        <div class = 'row'>
            <div class = 'col-md-12'>
                <h1>
                    Question {{data.id}}
                </h1>
            </div>
        </div>

        <div class = 'card'>

            <div class="card-header" >  
                <div class = 'row'>
                    <div class = 'col-md-12' >
                        <h3>
                            {{data.question}}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class = 'row'>
                    <div class = 'col-md-6'>
                        <img src={{data.img}} alt="question{{data.id}}'s media"> 
                    </div>
                
                    <div class = 'col-md-4'>
                        <form action="/checkAnswer" method="POST">
                            {% for each in data.choice %}
                            <div class='choice'>
                                <input type='radio' name = 'radAnswer' value="{{each}}"> 
                                <span >{{each}}</span>
                                <br>
                            </div>         
                            {% endfor %}
                            <button type="submit" class = 'submit-button' name = 'button' value = "{{data.id}}">Submit</button>
                            <br>
                            <br>
                            <button type="button" class = 'again' name = 'button' value = "{{data.id}}">Test Again</button>
                        </form>     
                    </div>

                    <!-- <div class="col-md-1"></div> -->

                    <div class = 'col-md-2'>
                        <div class = 'row'>
                            <div class = 'col-md-12'>
                                <button class="hovertext" id ='hint' data-hover="{{data.hint}}">Hint</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="progress-container"> 
            <progress value="75" max="100">75%</progress>
        </div>


        <div class = 'row'>
            <div class = 'col-md-12'>
                <br>
                <br>
                <br>
            </div>
        </div>

        {% endblock %}
    </body>
</html>