{% extends 'nav.html' %}

{% block content %}

<script>
    $(document).ready(function(){
        $('h4').hide();

        $('#hint').click(function(){
            $("h4").slideToggle();
        })
    })
</script>

<div class = 'row'>
    <div class = 'col-md-12'>
        <h2>
            Question {{data.id}}
        </h2>
    </div>
</div>

<div class = 'row'>
    <div class = 'col-md-12'>
        <h3>
            {{data.question}}
        </h3>
    </div>
</div>

<div class = 'row'>
    <div class = 'col-md-4'>
        <img src={{data.img}} alt="question{{data.id}}'s media"> 
    </div>
    <div class = 'col-md-4'>
        
        <form action="/checkAnswer" method="POST">
            {% for each in data.choice %}
            <input type='radio' name = 'radAnswer' value="{{each}}"> 
            <span>{{each}}</span>
            <br>
            {% endfor %}
            <button type="submit" class = 'hero-btn' name = 'button' value = "{{data.id}}">Submit</button>
        </form>
       
    </div>
    <div class = 'col-md-4'>
        <div class = 'row'>
            <div class = 'col-md-12'>
                <button class="hovertext" id ='hint' data-hover="{{data.hint}}">Hint</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}