{% extends 'nav.html' %}

{% block content %}

<script>
    $(document).ready(function(){
        // $('h4').hide();

        // $('#hint').click(function(){
        //     $("h4").slideToggle();
        // })
        $("#dialog").dialog({
            autoOpen: false,
            modal: true
        });

        $("#dialog-check").dialog({
            autoOpen: false,
            modal: true
        });

        $( "form" ).submit(function( event ) {
            if ($('input[name=radAnswer]:checked').length > 0) {
                return;
            }
        
            $("#dialog-check").dialog({
                buttons : {
                    "Confirm" : function() {
                        $(this).dialog("close");
                    }
                }
            });

            $("#dialog-check").dialog("open");
            event.preventDefault();
        });

        $('.again').click(function(e){
            var targetUrl = '/quiz_start';
            e.preventDefault();
            $("#dialog").dialog({
                buttons : {
                    "Confirm" : function() {
                            window.location.href = targetUrl;
                        },
                    "Cancel" : function() {
                        $(this).dialog("close");
                    }
                }
            });

            $("#dialog").dialog("open");  
        })

       
    });

    $('#confirm').click(function(e){
        var targetUrl = $(this).attr("href");
        e.preventDefault();
        $("#dialog").dialog({
            buttons : {
                "Confirm" : function() {
                        window.location.href = targetUrl;
                    },
                "Cancel" : function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog").dialog("open");  
    });    
</script>

<style>
    body{
        /* background: linear-gradient(to top, #0000ff 0%, #6699ff 79%); */
        background-color: #1564dadf;
    }

    progress {
        opacity: 0;
    }
    .progress-container {
        position: relative;
        display: inline-block;
        background: white;
        height: 20px;
        border-radius: 6px;
        overflow: hidden;
        width:100%;
    }
    .progress-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: orangered;
        width: {{process}}%;
    }


    .card-body{
        padding-top:40px;
        padding-left:40px;
        padding-bottom:40px;
    }
    .card-header{
        padding-left:40px;
        background-color: rgb(225, 223, 223); /*lightgray*/
    }

    img{
        width: 90%;
    }

    h1{
        color:white;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .choice{
        font-size:20px;
        padding-left:10px;
        margin-bottom:20px;
    }

    .submit-button{
        margin-left:10px;
        margin-top:10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        background-color: orangered;
        border-radius: 10px;
        border: orangered;
        color:white;
        width:100px;
    }
    .submit-button:hover{
        color:black;
    }

    .again{
        margin-left:10px;
        margin-top:10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        background-color: rgb(225, 223, 223);/*lightgray*/;
        border-radius: 10px;
        border: dimgrey;
        color:darkgray;
        width:100px;
    }
    .again:hover{
        color:black;
    }

    #hint{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
        margin-left:-12px;
        background-color:  rgb(225, 223, 223);/*lightgray*/
        border-radius: 10px;
        border: dimgrey;
        color:darkgray;
        width:120px;
    }
    #hint:hover {
        background: rgb(116, 112, 112);/*drakgray-er*/
        color:white;
        border-radius:5px;
    }

    #hint:hover::before{
        display: block;
        background: rgb(225, 223, 223);/*lightgray*/
        color:rgb(116, 112, 112);/*drakgray*/
        font-size:15px;
        position: absolute;
        top: 100%;
        left: -7px;
        right: -7px;
        padding: 10px; 
    }

    #hint:hover::after{
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: solid 8px transparent;
        border-bottom-color: rgb(225, 223, 223);/*lightgray*/
        bottom: -3px;
        left: 50%;
        margin-left: -35px;
        z-index: 1;
    }
        
    

</style>



<div id="dialog" title="Confirmation Required">
    Leaving the page will automatically zero out the score. Are you sure about this?
</div>

<div id="dialog-check" title="Confirmation Required">
    You need to select one answer to submit the quiz.
</div>

<div class = 'row'>
    <div class = 'col-md-12'>
        <h1>
            Question {{data.id}}
        </h1>
    </div>
</div>

<div class = 'card'>

    <div class="card-header" >  
        <div class = 'row'>
            <div class = 'col-md-12' >
                <h3>
                    {{data.question}}
                </h3>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class = 'row'>
            <div class = 'col-md-6'>
                <img src={{data.img}} alt="question{{data.id}}'s media"> 
            </div>
           
            <div class = 'col-md-4'>
                <form action="/checkAnswer" method="POST">
                    {% for each in data.choice %}
                    <div class='choice'>
                        <input type='radio' name = 'radAnswer' value="{{each}}"> 
                        <span >{{each}}</span>
                        <br>
                    </div>         
                    {% endfor %}
                    <button type="submit" class = 'submit-button' name = 'button' value = "{{data.id}}">Submit</button>
                    <br>
                    <br>
                    <button type="button" class = 'again' name = 'button' value = "{{data.id}}">Test Again</button>
                </form>     
            </div>

            <!-- <div class="col-md-1"></div> -->

            <div class = 'col-md-2'>
                <div class = 'row'>
                    <div class = 'col-md-12'>
                        <button class="hovertext" id ='hint' data-hover="{{data.hint}}">Hint</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="progress-container"> 
    <progress value="75" max="100">75%</progress>
</div>


<div class = 'row'>
    <div class = 'col-md-12'>
        <br>
        <br>
        <br>
    </div>
</div>

{% endblock %}
