{% extends 'nav.html' %}

{% block content %}

<script>
    $(document).ready(function(){
        $('#quiz').click(function(){
            /* redirect the webpage to quiz.html */
            window.location.assign("/quiz/1")
        })
    })
</script>
<style>
    .row{
        margin-bottom: 20px;
    }
    #test-intro{
        text-align: center;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
    }
    #quiz{
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        background-color: black;
        border-radius: 10px;
        border: dimgrey;
    }

</style>

<div class = 'row'>
    <div id="test-intro">Test on yourself and see if you are a master of basketball rules</div>
</div>
<div class="row">
    <button type="button" class="btn btn-success" id ='quiz'>START</button>
</div>
    
{% endblock %}